<!DOCTYPE html>
<html>
  <head>
    <title>Bonnie Wai-Lee Kwong</title>
  </head>
  <body>


      <div class="content">
          <div class = "left-image">
          <%= image_tag "main_image.JPG" %>
          </div>
          <div class="description">
          <%= link_to raw("<h1>Bonnie Wai-Lee Kwong</h1>"), "mailto:sibilant.threads@gmail.com" %><span>
            is a poet and a software developer in the San Francisco Bay Area.
            She has lived in nine states and two continents. Writing is a way for her to traverse seen and unseen geographies.<br>
            <br>Her work has been nominated for two Pushcart Prizes, broadcast on Hawaii Public Radio
            and published in various journals and anthologies, including
            California Quarterly, The Columbia Review, Crab Orchard Review,
            <%= link_to "Drunken Boat", "http://www.drunkenboat.com/db10/08poe/kwong/fore.html", :target => "_blank" %>,
            <%= link_to "The Pedestal", "http://www.thepedestalmagazine.com/gallery.php?item=21863", :target => "_blank" %>,
            Nimrod, and others.  Her book-length poetry manuscript, <%= link_to "Ravel", "/ravel", :target => "_blank" %>,
            has been listed as a finalist for the Many Voices Project by New Rivers Press, and the White Pine Press Poetry Prize.</br></br>
            She is curating a digital anthology, <%= link_to raw("<h2>The Taste of Each</h2>"), "/oranges_and_bananas" %>,
            which is currently open to submissions.
</span>
          </div>
          <!--<div class="footer"><a href="mailto:sibilant.threads@gmail.com">Contact Bonnie</a></div>-->
      </div>
  </body>
</html>
