<!--<div style='color:#ffffff;font-size:32pt;float:right; margin-right: 50px;'><%= link_to "sign out", destroy_user_session_path, method: :delete %></div><br/>-->
<% @div_width=455 %>
<div style='width:180px;margin:0 auto;'><p style='color:#ffffff;font-size:32pt; font-family:andale mono;'>WARP AND WEFT</p></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt; font-family:andale mono'>There was no slack in the warp and weft</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt;  font-family:andale mono; padding-left: 30px;'>my husband's great-grandma</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>ran her fingers over.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>A burler in a Rhode Island mill,</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>her job was to feel</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>for knots in the weave.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>She wore her fingerprints away</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>and her skin to such thinness</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>blood might seep through.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>Did the hours pass evenly</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>in the rumble of the loom:</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>again, again, gaining</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>in its appetite for cotton?</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:12pt; padding-left: 30px;'>Her father-in-law had returned</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>from war and Confederate prison</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>to careless workers dropping scissors</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>from the upper floors of the mill</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>through slots where the driving belts ran.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>The weave rent time after time.</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>If that happens again I shall quit</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>and never work in a mill….</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>It did, and he did,</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>wrote his grandson,</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>my husband's grandpa.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>My father taught me a knot he’d learned</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>as a boy, mending clothes</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>when thread was scarce,</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>and he was left with only</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>half an inch of thread</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>between cloth and needle.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>The needle couldn’t flex,</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>so he used the eye to lead the thread</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>back through the loop,</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>and tightened it.</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>Thread took no extensions,</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>unlike the <i>iron thread he salvaged</i></marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>on the streets of Wanchai</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>and soldered with rosin-scented flux.</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>He cobbled together a radio</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>where current flowed</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>through node and wire alike: 	threads of logic</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>under music cantabile.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>When my father first showed me</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>a logical loop, I didn't</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>follow the syntax.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>For i = 0 to i <10</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>i = i + 1</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>Next</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>I got the drift,</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>as in the increment of age,</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>the cycle of monsoons;</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>I like to study iteratives:</marquee></div>
<div style='width:450px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>from <i>crack</i> to <i>crackle</i>, <i>drip</i> to <i>dribble</i>,</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'><i>wrest</i> to <i>wrestle</i>.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>I condense the cacophonous words</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:12pt; padding-left: 30px;'>between my parents</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>into a single frequentative.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>My father built circuits</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>to turn speech into hexadecimals</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>my mother couldn't decipher.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>For a living, I have learned to code</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>in a language where objects</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>are discrete,</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>and strands</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>of my mother's hair</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>are not allowed to enter.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>There are burls in my logic,</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>stray insects so small I can't feel</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>with my fingertips.</marquee></div><br/><br/>

<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:11pt;'>From a roving of discarded hair</marquee></div>
<div style='width:<%= @div_width %>px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 30px;'>and insect wings, I weave</marquee></div>
<div style='width:<%= @div_width %>px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:11pt; padding-left: 60px; float: left;'>for my children to ravel.</marquee></div><br/><br/>





